<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Ania & Kacper - Galeria</title>
</head>

<body>
  <header>
    <div class="navbar" id="navbar">
      <div class="container">
        <div class="nav-links" id="nav-links">
          <a href="./">Strona główna</a>
          <a href="#">Galeria</a>
          <a href="./upload">Dodaj zdjęcie</a>
          <a href="./#contact">Kontakt</a>
        </div>
      </div>
      <div class="burger" id="burger" onclick="boorgir()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </header>
  <main>
    <div class="section">
      <div class="gallery">
        <% files.forEach(file=> { %>
          <div class="gallery-item">
            <img src="/img/uploads/<%= file %>" alt="<%= file %>">
          </div>
          <% }); %>
      </div>
      <div id="overlay"></div>
    </div>
  </main>
  <script src="script.js"></script>

</body>

</html>
